{#{% extends 'knp_menu.html.twig' %}#}
{% if breadcrumbs|length > 2 %}
    <div class="breadcrumbs">
        {%- for  link in breadcrumbs %}
            {%- if loop.index == 1 %}
                <a class="first" href="{{ link.uri }}">{{ link.label | trans }}</a>
            {%- elseif not loop.last %}
                <a href="{{ link.uri }}">{{ link.label | trans }}</a>
            {%- else %}
                <span class="last" href="{{ link.uri }}" class="current">{{ link.label | trans }}</span>
            {%- endif %}
        {%- endfor %}
    </div>
{% endif %}
