{# The template for the zitec_autocomplete field. #}
{# The rendering differs from the compatibility mode to the default one, so we will have two different templates. #}

{%- block zitec_autocomplete_widget -%}
    {% if not compatibility %}
        {{ block('zitec_autocomplete_widget_default') }}
    {% else %}
        {{ block('zitec_autocomplete_widget_compatibility') }}
    {% endif %}
{%- endblock -%}

{%- block zitec_autocomplete_widget_default -%}
    {% spaceless %}
        <div class="zitec-autocomplete-field-wrapper">
            <select {{ block('widget_attributes') }}
                {% if multiple %} multiple="multiple" {% endif %}
                data-zitec-autocomplete="{{ {
                    url: autocomplete_path,
                    language: app.request.locale,
                    placeholder: placeholder is not same as(null) ? placeholder|trans({}, translation_domain) : null,
                    delay: delay,
                    minimumInputLength: minimum_input_length,
                    allowClear: allow_clear,
                    dropdownParent: dropdown_parent,
                    otherOptions: other_select2_options,
                    context: context,
                    compatibility: false
                }|json_encode }}"
            >
                {% if multiple and value|length > 0 %}
                    {% for item in value %}
                        <option
                            value="{{ item.value }}"
                            {% with {attr: item.attributes|default([])} %}{{ block('attributes') }}{% endwith %}
                            selected="selected"
                        >
                            {{ item.label }}
                        </option>
                    {% endfor %}
                {% elseif value is not empty %}
                    <option
                        value="{{ value.value }}"
                        {% with {attr: value.attributes|default([])} %}{{ block('attributes') }}{% endwith %}
                        selected="selected"
                    >
                        {{ value.label }}
                    </option>
                {% endif %}
            </select>
        </div>
    {% endspaceless %}
{%- endblock -%}

{%- block zitec_autocomplete_widget_compatibility -%}
    {% spaceless %}
        <div class="zitec-autocomplete-field-wrapper">
            <input type="text" {{ block('widget_attributes') }}
                data-zitec-autocomplete="{{ {
                    url: autocomplete_path,
                    language: app.request.locale,
                    placeholder: placeholder is not same as(null) ? placeholder|trans({}, translation_domain) : null,
                    delay: delay,
                    minimumInputLength: minimum_input_length,
                    allowClear: allow_clear,
                    dropdownParent: dropdown_parent,
                    otherOptions: other_select2_options,
                    context: context,
                    compatibility: true,
                    defaults: value,
                    multiple: multiple
                }|json_encode }}"
            />
        </div>
    {% endspaceless %}
{%- endblock -%}
